@font-face {
  font-family: "GT Cinetype";
  font-weight: normal;

  src: url("/fonts/GT-Cinetype-Light.woff2") format("woff2"),
    url("/fonts/GT-Cinetype-Light.woff") format("woff");
}

@font-face {
  font-family: "GT Cinetype";
  font-weight: bold;

  src: url("/fonts/GT-Cinetype-Bold.woff2") format("woff2"),
    url("/fonts/GT-Cinetype-Bold.woff") format("woff");
}

.cinetype {
  font-family: "GT Cinetype", sans-serif;
}
