@font-face {
  font-family: "GT America";
  font-weight: normal;
  font-style: normal;

  src: url("/fonts/GT-America-Standard-Regular.woff2") format("woff2"),
    url("/fonts/GT-America-Standard-Regular.woff") format("woff");
}

@font-face {
  font-family: "GT America";
  font-weight: bold;
  font-style: normal;

  src: url("/fonts/GT-America-Standard-Bold.woff2") format("woff2"),
    url("/fonts/GT-America-Standard-Bold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
  font-family: "GT America", "GT America", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  background-color: #000;
  color: #fff;
}

main {
  margin-top: auto;
}

h1 {
  font-size: 1.75rem;
}

h1,
p {
  margin: 0 0 1rem;
  max-width: 80%;
}

a {
  color: inherit;
  font-weight: bold;
}

.recruiters {
  font-size: 0.5rem;
  line-height: 1.5;
  color: #444;
  margin: 2rem 0 0;
}

@media (max-width: 500px) {
  body {
    padding: 0.5rem 1rem;
  }

  h1,
  p {
    max-width: initial;
  }
}
