@font-face {
  font-family: 'Diatype';
  src: url('/fonts/ABCDiatype-Regular.woff2') format('woff2'),
       url('/fonts/ABCDiatype-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Diatype';
  src: url('/fonts/ABCDiatype-Bold.woff2') format('woff2'),
    url('/fonts/ABCDiatype-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  display: grid;
  min-height: 100vh;
  min-height: stretch;
}

h1 {
  @apply text-2xl font-bold;
}

p {
  @apply text-lg mb-6 leading-relaxed;
}

p:last-child {
  @apply mb-0;
}

a {
  @apply underline decoration-2;
  text-underline-offset: 3px;
}

a:hover {
  @apply opacity-80;
}
