---
import Pane from "../components/Pane.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Pane>
    <p>
      <strong>Josh McMillan</strong> is a programmer based in Manchester, UK.
    </p>

    <p>
      I work at <a href="https://tuple.app" class="tuple-link">Tuple</a>, where
      I look after backend and web engineering.
    </p>
  </Pane>
</Layout>

<style>
  .tuple-link {
    @apply text-indigo-600;
  }

  .tuple-link:focus {
    @apply bg-indigo-600 outline-indigo-600;
  }
</style>
