---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout>
  <div
    class="bg-white rounded-xl p-6 border border-slate-400 mb-6 shadow-lg space-y-4"
  >
    <p>
      <strong>Josh McMillan</strong> is a programmer based in Manchester, UK.
    </p>

    <p>
      I work at <Link
        href="https://tuple.app"
        class="text-indigo-600 focus:bg-indigo-600 focus:outline-indigo-600"
        >Tuple</Link
      >, where I look after backend and web engineering.
    </p>
  </div>
</Layout>
