---
import Pane from "../components/Pane.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Pane>
    <p>
      <strong>Josh McMillan</strong> is a programmer based in Manchester, UK.
    </p>

    <p>
      I like making software that people love to use, either as an individual
      contributor or leader. I work at <a
        href="https://tuple.app"
        class="tuple-link">Tuple</a
      >, where I look after backend and web engineering.
    </p>

    <p>
      In my spare time I help with theatrical sound design at the <a
        href="https://www.altrinchamgarrick.co.uk/"
        class="garrick-link">Altrincham Garrick</a
      >.
    </p>
  </Pane>
</Layout>

<style>
  .tuple-link {
    @apply text-indigo-600;
  }

  .tuple-link:focus {
    @apply bg-indigo-600 outline-indigo-600;
  }

  .garrick-link {
    @apply text-red-600;
  }

  .garrick-link:focus {
    @apply bg-red-600 outline-red-600;
  }
</style>
