---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout>
  <p>
    Hello. I'm <strong>Josh McMillan</strong>, a software engineering enthusiast
    based in the UK.
  </p>

  <p>I tend to help folks out by either:</p>

  <ul class="list-disc list-inside">
    <li>
      shipping high-quality software as an individual contributor, <em>or</em>
    </li>
    <li>coaching and mentoring teams to ship high-quality software</li>
  </ul>

  <p>
    If you reckon I could help you out with either of those, drop me an email.
  </p>
  <p>
    <Link href="mailto:josh@joshmcmillan.com">josh@joshmcmillan.com</Link>
  </p>
</Layout>
