---
import { twMerge } from "tailwind-merge";

const { class: classOverride, ...props } = Astro.props;
---

<a
  {...props}
  class={twMerge(
    "text-slate-500 underline underline-offset-2 decoration-2 hover:opacity-80 focus:bg-slate-500 focus:text-white focus:outline focus:outline-slate-500 focus:outline-offset-0 focus:outline-2",
    classOverride,
  )}
>
  <slot />
</a>
