@font-face {
  font-family: "GT Super";
  font-weight: bold;
  src: url("./fonts/GT-Super-Display-Bold.woff2") format("woff2"),
    url("./fonts/GT-Super-Display-Bold.woff") format("woff");
}

@font-face {
  font-family: "GT Eesti";
  font-weight: normal;
  src: url("./fonts/GT-Eesti-Text-Regular.woff2") format("woff2"),
    url("./fonts/GT-Eesti-Text-Regular.woff") format("woff");
}

@font-face {
  font-family: "GT Eesti";
  font-weight: bold;
  src: url("./fonts/GT-Eesti-Text-Bold.woff2") format("woff2"),
    url("./fonts/GT-Eesti-Text-Bold.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 1.5rem 2rem;
  border-top: 0.75rem #222 solid;
  background-color: #000;
}
