---
import "../styles/global.css";
import Link from "../components/Link.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />

    <title>{title || "Josh McMillan"}</title>
  </head>
  <body class="p-8">
    <main class="max-w-2xl text-lg leading-relaxed space-y-4">
      <slot />
    </main>
  </body>
</html>
